{% extends 'core/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
	
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			<h1 class="text-titles">Bienvenido <small>Perfil de estudiante</small></h1>
			</div>
		</div>
		<div class="full-box text-center" style="padding: 30px 10px;">
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Tic's
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-account"></i>
				</div>
				<div class="full-box tile-number text-titles">
					<p class="full-box">8º</p>
					<small>Cuatrimestre</small>
				</div>
			</article>
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Profesores
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-male-alt"></i>
				</div>
				<div class="full-box tile-number text-titles">
					<p class="full-box">6</p>
					<small>Info</small>
				</div>
			</article>
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Miebros del Grupo
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-face"></i>
				</div>
				<div class="full-box tile-number text-titles">
					<p class="full-box">18</p>
					<small>Info</small>
				</div>
			</article>
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Tutores
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-male-female"></i>
				</div>
				<div class="full-box tile-number text-titles">
					<p class="full-box">1</p>
					<small>Info</small>
				</div>
			</article>
		</div>
		<div class="container-fluid">
			<div class="page-header">
			<h1 class="text-titles">Pagos <small>Pendientes</small></h1>
			</div>
			<section id="cd-timeline" class="cd-container">
				{% for pago in pagos %}
					<div class="cd-timeline-block">
						<a href="{% url 'edit' pago.refpago %}">
							<div class="cd-timeline-img">
								<img src="{% load static %}{% static 'core/assets/img/adan.jpeg' %}" alt="user-picture">
							</div>
							<div class="cd-timeline-content">
								<h4 class="text-center text-titles">{{pago.motivo}}</h4>
								<h4 class="text-center text-titles">Ref Nº {{pago.refpago}}</h4>
								<p class="text-center">
									<i class="zmdi zmdi-timer zmdi-hc-fw"></i> Inicio: <em>{{pago.emision|date:"SHORT_DATE_FORMAT"}}</em> &nbsp;&nbsp;&nbsp; 
									<i class="zmdi zmdi-time zmdi-hc-fw"></i> Fin: <em>Miercoles 7:17 AM</em>
								</p>
								<span class="cd-date"><i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i> Pendiente</span>
							</div>
						</a>
					</div>  
				{% endfor %}


				 
			</section>


		</div>
	</section>

	
{% endblock %}